//Define colors -- placeholder colors
$black: #333;
$white: #fff;
$blue: #20639B;
$teal: #3CAEA3;
$orange: #ED553B;
$ghost-gray: #ecebeb;

//fonts
$headings: 'Open Sans','Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

// Body
$base-text-color: $black !default;
$primary: $blue;
$secondary: $teal;
$alert: $orange;

// Liks
$base-link-color: $primary;

//$transition
$transition: all .35s ease-in-out;
