<a class="btn button {{content.field_button_color.0}}" href="{% spaceless %}{{ content.field_file }}{% endspaceless %}" target="_blank">

    <span class="fas fa-{{content.field_button_icon.0}}" aria-hidden="true"></span>

    {{ content.field_button_text }}
</a>
