<div class="cell small-12 medium-{{content.field_column_ratio.0}}">
  {% if paragraph.field_centered_content.value == '1' | render %} <div class="float-center">{% endif %}
    {{content.field_column_content}}
  {% if paragraph.field_centered_content.value == '1' | render %} </div>{% endif %}
</div>
