<a class="btn button {{content.field_button_color.0}}" href="{{ content.field_link.0['#url'] }}">
  {% if content.field_button_icon |render %}
    <span class="fas fa-{{content.field_button_icon.0}}" aria-hidden="true"></span>
  {% endif %}
    {{ content.field_link.0['#title'] }}
</a>
