{% set classes = [ 'node', 'node--type-' ~ node.bundle | clean_class, node.isPromoted() ? 'node--promoted', node.isSticky() ? 'node--sticky', not node.isPublished() ? 'node--unpublished', view_mode ? 'node--view-mode-' ~ view_mode | clean_class,
    'clearfix' ] %}
{{ attach_library('classy/node') }}


{{content.field_content_sections}}
